<template>
	<style>
        @import url("/components/template.css");
    </style>
	<div class="t-invite__container">
		<div class="t-user-info__container">
			<div class="image-profile-small">
				<img src="/assets/default-picture.png">
			</div>
			<div>
				<span class="t-user-info__nickname">nickname</span>
			</div>
		</div>
		<span>invites you</span>
		<div>
			<button class="invite_yes">yes</button>
			<button class="invite_no">no</button>
		</div>
	</div>
</template>

<script src="/components/tInvite.js"></script>
<head></head>
<body></body>
